body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
li{
    padding: 1rem 0.5rem;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.buttons, form{
width: 200px;
padding: 1em 2em;
display: flex;
align-items: center;
gap: .3em;
}

button:hover{
    cursor: pointer;
}

.divButtons{
    z-index: 10;
    display: flex;
    gap: .5rem;
}

.fa-trash{
    color: blue
}
.fa-pen-to-square{
    color: green
}